[package]
name = "metadata"
version = "0.5.0"
authors = ["Kazakov Giorgi Vladimirovich", "Sidorov Roman Alexandrovich"]
edition = "2024"

[dependencies]
chrono = { version = "0.4.41", features = ["serde"] }
egui = { version = "0.31.1", optional = true }
egui-phosphor = { version = "0.9.0", optional = true }
egui_extras = { version = "0.31.1", features = [
    "datepicker",
    "serde",
], optional = true }
polars = { version = "0.48.1", default-features = false, features = [
    "ipc",
    "serde",
] }
semver = { version = "1.0.26", features = ["serde"] }
serde = { version = "1.0.219", features = ["derive", "std"] }
thiserror = "2.0.12"

[features]
default = ["egui", "ipc"]

egui = ["dep:egui", "dep:egui-phosphor", "dep:egui_extras"]
ipc = []
parquet = []
