[package]
name = "metadata"
version = "0.8.1"
authors = ["Kazakov Giorgi Vladimirovich", "Sidorov Roman Alexandrovich"]
edition = "2024"

[dependencies]
chrono = { version = "0.4.41", features = ["serde"] }
egui = { version = "0.32.1", optional = true }
egui-phosphor = { version = "0.10.0", optional = true }
egui_extras = { version = "0.32.1", features = [
    "datepicker",
    "serde",
], optional = true }
polars = { version = "0.50.0", default-features = false, features = [
    "ipc",
    "parquet",
    "serde",
] }
polars-parquet = "0.50.0"
semver = { version = "1.0.26", features = ["serde"] }
serde = { version = "1.0.219", features = ["derive", "std"] }
thiserror = "2.0.14"
tracing = "0.1.41"

[features]
default = ["egui", "ipc", "parquet"]

egui = ["dep:egui", "dep:egui-phosphor", "dep:egui_extras"]
ipc = []
parquet = ["polars/parquet"]
