#![enable(unwrap_newtypes)]
#![enable(implicit_some)]
[
    (
        name: "Date",
        value: "2026-09-09",
    ),
    (
        name: "Name",
        value: "VIR-2699",
    ),
    (
        name: "CustomName",
        value: "CustomValue",
    ),
    (
        name: "Version",
        value: "1.2",
    ),
    (
        name: "Version",
        value: "1.2.3",
    ),
]