#![enable(unwrap_newtypes)]
(
    name: "VIR-2699",
    description: "Cat. No. 2699, Прогресс, Россия",
    authors: [
        "Giorgi Vladimirovich Kazakov",
        "Roman Alexandrovich Sidorov",
    ],
)

    meta: (
        "Authors": "Giorgi Vladimirovich Kazakov;Roman Alexandrovich Sidorov",
        "Dates": "2025-10-29",
        "Description": "Cat. No. 2233, Прогресс, Россия",
        "Name": "VIR-2233",
        "Parameters": "",
        "Versions": "0.0.0",
    ),